.home1 {
  	font-family: 'Amazon Ember';
}
.home {
  	color: #29458c;
}
.sprints1 {
  	color: #3a3a3a;
}
.sprints {
  	font-weight: 500;
  	font-family: 'Amazon Ember';
}
.homeSprintsContainer {
  	width: 127px;
  	position: relative;
  	font-size: 18px;
  	line-height: 170%;
  	text-align: left;
  	display: inline-block;
}

.vectorIcon {
  	width: 127.6px;
  	position: relative;
  	height: 120px;
  	object-fit: cover;
}
.nanoSprints {
  	position: relative;
  	line-height: 150%;
  	font-weight: 800;
}
.vectorParent {
  	width: 152px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
  	color: #29458c;
}
.vectorIcon1 {
  	width: 127.6px;
  	position: relative;
  	height: 120px;
  	object-fit: cover;
  	mix-blend-mode: luminosity;
}
.miniSprints {
  	position: relative;
  	line-height: 150%;
}
.vectorGroup {
  	width: 152px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
  	cursor: pointer;
}
.frameParent {
  	position: relative;
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 64px;
  	text-align: left;
  	font-size: 24px;
  	color: #3a3a3a;
  	font-family: 'Amazon Ember Display';
}

.mainContainer {
	max-width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px;
}

