@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF2F2; /* Twilight */
  --foreground: #29458C; /* Midnight Blue */
  --card: #EDF0F4; /* Grey */
  --card-foreground: #29458C;
  --primary: #29458C;
  --primary-foreground: #FFFFFF;
  --secondary: #FFAD33; /* Orange */
  --secondary-foreground: #FFFFFF;
  --muted: #EDF0F4;
  --muted-foreground: #29458C;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card: #171717;
    --card-foreground: #ededed;
    --primary: #ededed;
    --primary-foreground: #171717;
    --secondary: #F55C38; /* Incandescent */
    --secondary-foreground: #171717;
    --muted: #171717;
    --muted-foreground: #ededed;
  }
}

/* @font-face {
  font-family: 'Amazon Ember';
  src: url('https://fonts.cdnfonts.com/css/amazon-ember.woff') format('woff');
  font-weight: 400 700;
  font-style: normal;
} */

body {
  font-family: 'Amazon Ember', sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Amazon Ember', sans-serif;
}

@layer utilities {
  .btn-primary {
    @apply bg-primary text-primary-foreground rounded-[0.5rem] px-4 py-2;
  }
  .btn-secondary {
    @apply bg-secondary text-secondary-foreground rounded-[0.5rem] px-4 py-2;
  }
}
