.reshotIconMoleculesYbnsd562 {
  	position: absolute;
  	top: calc(50% - 32px);
  	left: 48px;
  	width: 64px;
  	height: 64px;
  	overflow: hidden;
  	cursor: pointer;
}
.eng {
  	position: relative;
  	line-height: 20px;
  	font-weight: 500;
}
.engWrapper {
  	border-radius: 100px;
  	background-color: #f55c38;
  	height: 32px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	box-sizing: border-box;
}
.wrapper {
  	border-radius: 100px;
  	height: 32px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	box-sizing: border-box;
  	color: #3a3a3a;
}
.frameGroup {
  	border-radius: 100px;
  	background-color: #fdded7;
  	height: 48px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px;
  	box-sizing: border-box;
  	gap: 4px;
}
.reshotIconFriendlyCustomer {
  	width: 32px;
  	position: relative;
  	height: 32px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.callHelpdesk {
  	position: relative;
  	line-height: 170%;
  	font-weight: 500;
}
.reshotIconFriendlyCustomerParent {
  	border-radius: 100px;
  	background-color: #fdded7;
  	height: 56px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 32px;
  	box-sizing: border-box;
  	gap: 12px;
  	font-size: 18px;
  	color: #f55c38;
}
.frameChild {
  	width: 56px;
  	position: relative;
  	border-radius: 50%;
  	height: 56px;
  	object-fit: cover;
}
.frameParent {
  	position: absolute;
  	top: calc(50% - 28px);
  	right: 48px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 32px;
}
.header {
  	width: 100%;
  	position: relative;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 2px 1px rgba(0, 0, 0, 0.04), 0px 1px 5px rgba(0, 0, 0, 0.08);
  	background-color: #fff;
  	height: 104px;
  	text-align: center;
  	font-size: 14px;
  	color: #fff;
  	font-family: 'Amazon Ember';
}

