.reshotIconMoleculesYbnsd562 {
  	width: 38px;
  	position: relative;
  	height: 38px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.afeMakerspaceLab {
  	position: relative;
  	line-height: 150%;
  	font-weight: 800;
}
.reshotIconMoleculesYbnsd562Parent {
  	position: absolute;
  	top: 32px;
  	left: 48px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
  	text-align: left;
  	font-size: 24px;
  	font-family: 'Amazon Ember Display';
}
.privacyPolicy {
  	position: absolute;
  	top: 35.5px;
  	left: calc(50% - 57px);
  	line-height: 170%;
  	font-weight: 500;
}
.reshotIconFriendlyCustomer {
  	width: 32px;
  	position: relative;
  	height: 32px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.callHelpdesk {
  	position: relative;
  	line-height: 170%;
  	font-weight: 500;
}
.reshotIconFriendlyCustomerParent {
  	position: absolute;
  	top: calc(50% - 28px);
  	left: 1463px;
  	border-radius: 100px;
  	background-color: #f0f0f0;
  	height: 56px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 32px;
  	box-sizing: border-box;
  	gap: 8px;
  	color: #f55c38;
}
.footer {
  	width: 100%;
  	position: relative;
  	background-color: #ffad33;
  	height: 102px;
  	text-align: center;
  	font-size: 18px;
  	color: #3a3a3a;
  	font-family: 'Amazon Ember';
}