.whyIsMega {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 150%;
  	font-weight: 800;
  	display: inline-block;
  	width: 760px;
}
.frameChild {
  	width: 16px;
  	position: relative;
  	border-radius: 50%;
  	background-color: #f55c38;
  	height: 16px;
}
.frameItem {
  	width: 4px;
  	flex: 1;
  	position: relative;
  	border-radius: 100px;
  	background-color: #933722;
}
.ellipseParent {
  	position: absolute;
  	top: 0px;
  	left: 352px;
  	width: 24px;
  	height: 501px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.polygonIcon {
  	width: 153.8px;
  	position: absolute;
  	margin: 0 !important;
  	top: -51.09px;
  	left: -69.09px;
  	height: 153.8px;
  	object-fit: contain;
  	z-index: 0;
}
.firstVisit {
  	align-self: stretch;
  	position: relative;
  	line-height: 170%;
}
.diveDeeperInto {
  	align-self: stretch;
  	position: relative;
  	line-height: 170%;
  	font-weight: 500;
}
.firstVisitParent {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
  	z-index: 1;
}
.polygonParent {
  	position: absolute;
  	top: 96px;
  	left: 0px;
  	width: 320px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.polygonParent1 {
  	position: absolute;
  	top: 556px;
  	left: 0px;
  	width: 320px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.frameChild1 {
  	width: 153.8px;
  	position: absolute;
  	margin: 0 !important;
  	top: -51.09px;
  	left: -53.09px;
  	height: 153.8px;
  	object-fit: contain;
  	z-index: 0;
}
.polygonGroup {
  	position: absolute;
  	top: 324px;
  	left: 440px;
  	width: 320px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.polygonGroup1 {
  	position: absolute;
  	top: 824px;
  	left: 440px;
  	width: 320px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.frameParent {
  	position: absolute;
  	top: 80px;
  	left: 32px;
  	width: 760px;
  	height: 501px;
  	font-size: 18px;
  	color: #3a3a3a;
  	font-family: 'Amazon Ember';
}
.whyIsMegaSprintAPerfectFParent {
  	width: 100%;
  	position: relative;
  	height: 1081px;
  	text-align: left;
  	font-size: 32px;
  	color: #29458c;
  	font-family: 'Amazon Ember Display';
}